.bookform {
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.rend {
  justify-content: center;
}

.global-booking-show {
  display: flex;
  height: 92vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(196, 196, 196);
}

.recap {
  border: 1px solid black;
  border-radius: 25px;
  display: inline-block;
  position: relative;
  padding: 15px;
  background-color: white;
  box-shadow: 10px;
}

.butt-recap {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: bold;
}
