.presentation {
    text-align: center;
    height: 92vh;
    width: 100%;
    background-image: url("background.jpeg");
    background-size: contain;
  }
  
  .content {
    display: inline-block;
    width: 80%;
    margin: 0 60px;
  }
  
  .title-booking {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .scrollable-content {
    max-height: 500px;
    min-height: 500px;
    overflow-y: auto;
  }  
  
  .bookings {
    list-style: none;
    padding: 0;
  }
  
  .booking {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .booking-details {
    margin-bottom: 10px;
  }
  
  .booking-title {
    font-weight: bold;
  }
  
  .booking-user {
    margin-right: 10px;
  }
  
  .booking-actions {
    display: flex;
    justify-content: center;
  }
  
  .actions {
    margin-top: 10px;
  }
  
  button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #c82333;
  }
  