.global-booking-show {
  display: flex;
  height: 92vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center;
}

.recap {
  display: inline-block;
  background-size: cover;
  background-position: center;
  height: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: baseline;
  justify-content: space-around;
  font-size: 15px;
  color: white;
  margin: 20px;
  border-radius: 25px;
  background: black;
  border: 2px solid yellow;
  overflow: hidden;
  padding: 15px;
  position: relative;
}

.butt-recap {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: bold;
}
