.card {
  background-size: cover;
  background-position: center;
  height: 500px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  margin: 20px;
  border-radius: 25px;
  background: linear-gradient(to bottom, #555555, #cdaa7d);
  border: 2px opacify($color: #000000, $amount: 0);
  overflow: hidden;
}

.card:hover {
  border: 2px solid transparent;
  box-shadow: 0 0 10px 1px white;
}

.text {
  height: 200px;
  text-justify: auto;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.img-container {
  width: 100%;
  max-width: 250px;
  height: auto;
  overflow: hidden;
  border-radius: 25px;
}

.img {
  width: 100%;
  height: auto;
  display: block
}
