.globalevent {
  width: 100%;
  background-image: url("background.jpeg");
  background-size: cover;
  color: yellow;
}

.main-containerevent {
  width: 80%; /* Largeur de la div principale */
  margin: auto; /* Centrer la div principale */ /* Bordure inférieure en jaune */
  padding: 20px 0; /* Padding en haut et en bas */
}

.headerevent, .footer {
  text-align: center; /* Texte centré dans l'entête et le pied de page */
  border-top: 1px solid yellow;
  padding: 10px 0; /* Padding en haut et en bas pour l'entête et le pied de page */
}

.contentevent {
  display: flex; /* Utilisez flexbox pour aligner les éléments latéralement */
  justify-content: space-around; /* Espacement autour des éléments */
  padding: 20px 0; /* Padding en haut et en bas pour le contenu */
}

.cardeventleft {
  width: 60%;
  border: 1px solid yellow; /* Bordure des cartes en jaune */
  padding: 20px; /* Padding autour du contenu de la carte */
  margin: 15px;
}

.cardeventright {
  width: 40%;
  border: 1px solid yellow; /* Bordure des cartes en jaune */
  padding: 20px;
  margin: 15px; /* Padding autour du contenu de la carte */
}

.button-containerevent {
  display: flex; /* Utilisez flexbox pour le bouton */
  justify-content: flex-end; /* Aligner le bouton à droite */
  padding: 20px; /* Padding autour du bouton */
}

.buttonevent {
  background-color: yellow; /* Bouton de fond jaune */
  color: black; /* Texte du bouton noir */
  border: none; /* Pas de bordure pour le bouton */
  padding: 10px 20px; /* Padding autour du texte du bouton */
  cursor: pointer; /* Curseur de pointeur pour l'apparence cliquable */
}
