.globalevent {
  width: 100%;
  background-image: url("background.jpeg");
  background-size: cover;
  color: yellow;
}
.apaevent {
  text-align: left; /* Alignement du texte à gauche */
  margin-left: 40px;
  font-size: 50px;
}

.main-containerevent {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.headerevent, .footer {
  text-align: center;
  border-top: 1px solid yellow;
  padding: 10px 0;
}

.contentevent {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.cardeventright {
  width: 2  0%;
  // border: 1px solid yellow;
  padding: 20px;
  margin: 15px;
}

.cardeventleft {
  width: 70%;
  // border: 1px solid yellow;
  padding: 20px;
  margin: 15px;
}

.button-containerevent {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.buttonevent {
  background-color: yellow;
  color: black;
  border: none;
  padding: 7px 15px;
  cursor: pointer;
  font-size: 22px;
  transition: 0.3s;
  border-radius: 10px;
}

.buttonevent:hover {
  background-color: #ffc107;
  color: white;
}
