.title-planetmyplanet {
  color: yellow;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  margin-top: 10px; /* Ajustez en fonction de l'espacement désiré */
}

.globalmyplanet {
  width: 100%;
  background-image: url("background.jpeg");
  background-size: contain;
  height: 92vh;
}

.card {
  background-size: cover;
  background-position: center;
  height: 500px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  font-size: 15px;
  color: yellow;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  margin: 20px;
  padding: 10px;
  border-radius: 25px;
  background-color: black;
  border: 2px solid white;
  overflow: hidden;
  margin: auto;
  width: 400px;
  padding: 30px;
}
