<div class="globalevent">
  <div class="main-containerevent">
  <h1>Events</h1>
    <div class="contentevent">
      <div class="cardeventleft">
       Articles 1
     </div>
     <div class="cardeventright">
       <div class="button-containerevent">
         <button>Click me</button>
       </div>
     </div>
   </div>
   <div class="footerevent">
     Footer
   </div>
  </div>

<div class="globalevent">
  <div class="main-containerevent">
  <h1>Events</h1>
    <div class="contentevent">
      <div class="cardeventleft">
       Articles 1
     </div>
     <div class="cardeventright">
       <div class="button-containerevent">
         <button>Click me</button>
       </div>
     </div>
   </div>
   <div class="footerevent">
     Footer
   </div>
  </div>


<div class="globalevent">
  <div class="main-containerevent">
  <h1>Events</h1>
    <div class="contentevent">
      <div class="cardeventleft">
       Articles 1
     </div>
     <div class="cardeventright">
       <div class="button-containerevent">
         <button>Click me</button>
       </div>
     </div>
   </div>
   <div class="footerevent">
     Footer
   </div>
  </div>
