<%= render partial: 'layouts/navbar' %>
<div class="dropdown text-center mt-5">
  <button class="btn btn-primary dropdown-toggle w-50 rounded-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
  </button>
  <ul class="dropdown-menu w-50" aria-labelledby="dropdownMenuButton">
    <% @solar_systems.each do |solar_system| %>
      <li><%= solar_system.name %></li>
    <% end %>
  </ul>
</div>
