<div class="globalmyplanet">
    <h1 class="title-planetmyplanet text-center mb-4">My Planets</h1>
  <div class="">
    <% @myplanetsmine.each do |planet| %>
      <%= link_to planet_path(planet) do %>
        <div class="card">
          <div class="img-container" style="background-image: url(<%= image_path(planet.image) %>);"></div>
           <h1 class="title-planet"><%= planet.name %></h1>
           <p class="text-planet"><%= planet.content %></p>
        </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
