<div class="globalmyplanets">
    <div class="headermyplanets">
      <h1 class="my-planets-title1">My Planets</h1>
    </div>
    <div class="cards-container p-3">
    <% @myplanetsmine.each do |planet| %>
      <%= link_to planet_path(planet) do %>
      <div class="card">
        <div class="img-container">
        <%= image_tag("temperate",class: "img") %>
        </div>
        <div class="text-planet">
          <h1><%= planet.name %></h1>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
</div>




<%# <%= image_tag(["temperate","murky","arid","artic","humid","rocky","tropical"].sample,class: "img") %>
