<div class="global-show-planet">
  <div class="header-show-planet">
    <h1><%= @planet.name %></h1>
  </div>
  <div class="body-show-planet">
    <div class="card-show-planet"></div>
    <div class="card-show-planet"></div>
    <div></div>
  </div>
  <div class="footer-show-planet">
    <div></div>
    <div></div>
    <div id="but2">
      <%= link_to new_planet_booking_path(@planet) do %>
        <button class="book-button">Booking</button>
      <% end %>
    </div>
  </div>
</div>
