<div class="body1">
  <div class="container">
    <div class="left-div"></div>
    <%= link_to new_planet_booking_path(@planet) do %>
      <button class="booking-button">Booking</button>
    <% end %>
  </div>
</div>
